<!--
<footer>
    <h2>Footers</h2>
    <nav>
        <ul>
            <li>
                <a href="{% url 'policy-service'%}">서비스 이용약관</a>
            </li>
            <li>
                <a href="{% url 'policy-privacy'%}">개인정보취급방침</a>
            </li>
        </ul>
    </nav>
</footer>
!-->

<footer class='footer' id='footer'>
    <div class='footer__title'>
        주식회사 콩튜브
    </div>
    <div class='footer__info-row'>
        <b>회사명</b>: 주식회사 콩튜브 <b class='footer__info-horizon-divider'>|</b> <b>대표</b>: 길경태
    </div>
    <div class='footer__info-row'>
        <b>개인정보보호책임</b>: 김하영
    </div>
    <div class='footer__info-row'>
        <b>사업자등록번호</b>: 182-87-01388
    </div>
    <div class='footer__info-row'>
        <b>통신판매업신고</b>: 2019-서울구로-013
    </div>
    <div class='footer__info-row'>
        <b>주소</b>: 서울특별시 구로구 경인로 661, 101동 11층(신도림동)
    </div>
    <div class='footer__info-row'>
        <b>거래문의</b>: <a href="http://pf.kakao.com/_hYXWT/chat" target="_blank">@콩튜브 카톡채널</a>
    </div>
    <div class='footer__info-row'>
        <b>스타입점 문의</b>: star@congtube.com
    </div>
    <div class='footer__info-row'>
        <b>제휴문</b>: admin@congtube.com
    </div>

    <div class='footer__info-row footer__info-terms'>
        <a href={% url 'policy-service'%} class='footer__info-term'>서비스 이용약관</a>
        <b class='footer__info-horizon-divider'>|</b>
        <a href={% url 'policy-privacy'%} class='footer__info-term'>개인정보처리방침</a>
    </div>

    <div class='footer__disclaimer'>
        <b>
            서비스 내에서 발생하는 모든 상품 및 거래에 대해 콩튜브에서 일체 책임하에 진행합니다.
        </b>
    </div>
    <div class='height60'>
</footer>
