
{% load static %}

<footer>
    <div id="footerWrap">
            <div class="left">
                    <img
                    src="{% static 'assets/footer_logo@3x.png' %}"
                    alt="주식회사 콩튜브"
                    onclick="location.href='https://congtube.com/'"
                    >
                    <p>주식회사 콩튜브</p>
                    <p>
                        <b>거래문의</b> <a href="http://pf.kakao.com/_hYXWT/chat" target="_blank">@콩튜브 카톡채널</a>
                    </p>
                    <p>
                        <b>스타입점문의</b> <a href="mailTo:star@congtube.com">star@congtube.com</a>
                    </p>
                    <p><b>제휴문의</b> <a href="mailTo:admin@congtube.com">admin@congtube.com</a></p>
                    <p class="big congtube_address_pc">
                        TEL.
                        <a href="tel:02-6328-5000">02-6328-5000</a>
                    </p>
                </div>
                <div class="right">
                    <div class="congtube_info">
                        <div class="congtube_address_pc">
                            <div class="congtube_sns">
                                <img
                                    src="{% static 'assets/icon_sns_insta@2x.png' %}"
                                    alt='콩튜브 인스타그램'
                                    onclick=""
                                >
                                <img
                                    src="{% static 'assets/icon_sns_fb@2x.png' %}"
                                    alt='콩튜브 페이스북'
                                    onclick=""
                                >
                                <img
                                    src="{% static 'assets/icon_sns_tw@2x.png' %}"
                                    alt='콩튜브 트위터'
                                    onclick=""
                                >
                            </div>
                            <div class="congtube_bottom">
                                <p>
                                    <a href="#">서비스이용약관</a>
                                    <span class="bar"></span>
                                    <a href="#">개인정보처리방침</a>
                                </p>
                            </div>
                            <address>
                                회사명:주식회사 콩튜브  대표:길경태 개인정보보호책임:김하영 사업자등록번호:182-87-01388
                                <br>통신판매업신고:2019-서울구로-1776 주소:서울특별시 구로구 경인로 661, 101동 11층(신도림동)<br>
                                <span class="congtube_footer_notice">서비스 내에서 발생하는 모든 상품 및 거래에 대해 콩튜브에서 일체 책임하에 진행합니다.</span>
                            </address>
                        </div>
                        <div class="congtube_address_m">
                            <span class="address_title"
                            onclick="footerMobileFold(this);">(주) 콩튜브 사업자정보
                                <img src="{% static 'assets/footer_arrow.png'%}" class="fold">
                                <img src="{% static 'assets/footer_arrow_on.png'%}" class="unfold">
                            </span>
                            <address>
                                    회사명:주식회사 콩튜브  대표:길경태<br>개인정보보호책임:김하영 사업자등록번호:182-87-01388<br>
                                    통신판매업신고:2019-서울구로-1776<br>주소:서울특별시 구로구 경인로 661, 101동 11층(신도림동)<br>
                                <a href="tel:02-6328-5000">02-6328-5000</a>
                                <span class="congtube_footer_notice">서비스 내에서 발생하는 모든 상품 및 거래에 대해 콩튜브에서 일체 책임하에 진행합니다.</span>
                            </address>
                            <div class="congtube_sns">
                                    <img
                                        src="{% static 'assets/icon_sns_insta.png' %}"
                                        alt='콩튜브 인스타그램'
                                        onclick=""
                                    >
                                    <img
                                        src="{% static 'assets/icon_sns_fb.png' %}"
                                        alt='콩튜브 페이스북'
                                        onclick=""
                                    >
                                    <img
                                        src="{% static 'assets/icon_sns_tw.png' %}"
                                        alt='콩튜브 트위터'
                                        onclick=""
                                    >
                                </div>
                        </div>
                        <p class="copyright">
                                &#169; congtube. ALL RIGHTS RESERVED.
                        </p>
                    </div>
                </div>
    </div>
</footer>