{% load static %}
<div class='header-simple-white'>
    <nav>
        <div class='nav-wrapper'>
            <a href='/' class='brand-logo left'>
                <img
                    src="{% static 'assets/logo-white@2x.png' %}"
                    alt='congtube-logo'
                    class='logo-button'
                    />
            </a>
            <a href='#' data-target='mobile-demo' class='sidenav-trigger right'>
                <img
                    src="{% static 'assets/icon_hambuger_menu@2x.png' %}"
                    alt='hamburger-menu'
                    />
                    <!-- class='material-icons' -->
            </a>
            <ul class='right hide-on-med-and-down'>
                {% if request.user.is_authenticated %}
                    <li>
                        <a href="{% url 'profile' %}">마이페이지</a>
                    </li>
                    <li>
                        <a href="{% url 'account_logout' %}">로그아웃</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'account_login' %}">회원가입</a>
                    </li>
                    <li>
                        <a href="{% url 'account_login' %}">로그인</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    {% include '_partials/_sidenav.html' %}
</div>
