{% load static %}


<div class='header-search-bar'>
    <nav>
        <div class='nav-wrapper'>
            <a href='/' class='brand-logo left'>
                <img
                    srcSet='{% static 'assets/logo-without-text.png' %},
                    {% static 'assets/logo-without-text@2x.png' %} 2x,
                    {% static 'assets/logo-without-text@3x.png' %} 3x '
                    src={% static 'assets/logo-without-text@3x.png' %}
                    alt='congtube-logo'
                    class='header-search-bar__left-logo-image'
                />
            </a>
            <div class='header-search-bar__search-bar-container'>
                <form id='header_search_bar_form' class='search-bar' method='get' action="{% url 'channels:list' %}">
                    <input
                        type='text'
                        name='search'
                        id='searchbar_channel'
                        class='search-bar__input'
                        placeholder='스타를 검색해보세요!'
                    />
                    <img
                        {% load static %}
                        srcSet='{% static 'assets/search-icon.png' %},
                        {% static 'assets/search-icon@2x.png' %} 2x,
                        {% static 'assets/search-icon@3x.png' %} 3x'
                        src='{% static 'assets/search-icon@3x.png' %}'
                        id='header_search_bar_submit'
                        alt='검색 아이콘'
                        class='search-bar__icon'
                    />
                    <input type='submit' style='display: none;'/>
                </form>
            </div>
            <a href='#' data-target='mobile-demo' class='sidenav-trigger right'>
                <img
                    srcSet='{% static 'assets/header-hamburger-white.png' %},
                    {% static 'assets/header-hamburger-white@2x.png' %} 2x,
                    {% static 'assets/header-hamburger-white@3x.png' %} 3x'
                    src='{% static 'assets/header-hamburger-white@3x.png' %}'
                    alt='hamburger-menu'
                    class='material-icons'
                />
            </a>
            <ul class='right hide-on-med-and-down'>
                {% if request.user.is_authenticated %}
                    <li>
                        <a href='{% url 'profile' %}'>마이페이지</a>
                    </li>
                {% else %}
                    <li>
                        <a href='{% url 'account_login' %}'>회원가입</a>
                    </li>
                    <li>
                        <a href='{% url 'account_login' %}'>로그인</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    {% include '_partials/_sidenav.html' %}
</div>
