{% load static %}

<a href={% url 'orders:detail' order.id %} class='order-list-item'>
    <div class='order-list-item__left-container'>
        <img
            src='{{ order.channel.image.url }}'
            alt='order-channel-img'
            class='order-list-item__left-image'
            data-object-fit
        />
        <div>
            <div class='order-list-item__left-channel-container'>
                <div class='order-list-item__left-channel-text'>{{ order.channel }}</div>
                <div class='order-list-item__left-order-status'>{{ order.get_status_display }}</div>
            </div>

            <div class='height14'></div>

            <div class='order-list-item__product-name'>{{ order.product.name }}</div>
        </div>
    </div>

    <div class='order-list-item__right-container'>
        <div class='order-list-item__order-created-at'>{{ order.created_at|date:"Y.m.d." }}</div>
        <div class='order-list-item__order-price'>
            <img
                src={% static 'assets/cong-small@3x.png' %}
                alt='cong-img'
                class='order-list-item__order-price-logo'
                data-object-fit
                />
            <div class='order-list-item__order-price-text'>{{ order.product.price }} 원</div>
        </div>
    </div>
</a>
