<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<center>
    {% for o in orders %}
        {% if o.status == 2 %}
    <h1>{{o.channel}}님에게 온 요청입니다.</h1>
        <h2>유저명 {{ o.user }}</h2>
        <h2>요청 메세지 {{ o.message }}</h2>
        <h2>받는사람 {{ o.reciever_name }}</h2>
        {% endif %}
    {% endfor %}
    </center>
</body>
</html>