{% extends '_base.html' %}
{% load static %}


{% block content %}
<h3>{{ channel }}님 요청내용</h3>
<div class="container">
    <table border="1">
        <tr>
            <th>ID</th>
            <th>상품명</th>
            <th>가격</th>
            <th>요청자</th>
            <th style="text-align: center">요청내용</th>
        </tr>
        {% for order in object_list %} <!-- Q(channel=self.get_object()) & Q(status=2) -->
        {% if order.channel == channel and order.status == 2 %}
        <tr>
            <td>{{ order.user }}</td>
            <td>{{ order.product.name }}</td>
            <td>{{ order.amount }}</td>
            <td>{{ order.reciever_name }}</td>
            <td>{{ order.message }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
    <br>
    {% include '_partials/_pagination.html' %}
    <p style="color: red;">고객에게 영상 전달 완료 시 요청 목록에서 제거됩니다.</p>
</div>
{% endblock %}
